
.number{
    
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
}



.number_1{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
    transform: rotate(0deg);
}
.number_2{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
    transform: rotate(90deg);

}
.number_3{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
    //transform: rotate(90deg);

}
.number_4{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
}
.number_5{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
    transform: rotate(90deg);

}
.number_6{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
}
.number_7{
    background-color: red;
    width:30px;
    height:200px;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
    position:absolute;
    top:10px;
    left:10px;
    transform: rotate(90deg);

}
.digit{
    position: absolute;
    background-color: gray;
    width:100px;
    height:30px;
    top:10px;
    left:10px;
}














