<div class="digit" id="digit">
    <div class="number_1" id="number_1" [style.backgroundColor]="color_1"></div>
    <div class="number_2" id=" number_2 " [style.backgroundColor]="color_2"></div>
    <div class="number_3" id=" number_3" [style.backgroundColor]="color_3"></div>
    <div class="number_4" id=" number_4" [style.backgroundColor]="color_4"></div>
    <div class="number_5" id=" number_5 " [style.backgroundColor]="color_5"></div>
    <div class="number_6" id=" number_6" [style.backgroundColor]="color_6"></div>
    <div class="number_7" id=" number_7" [style.backgroundColor]="color_7"></div>
</div>
