<div [style.backgroundColor]="backColor" class="wrappD" id={{idp}}>
  <div [style.backgroundColor]="numberDigit[0]" class="digit0 clipped"></div>
  <div [style.backgroundColor]="numberDigit[1]" class="digit1 clipped"></div>
  <div [style.backgroundColor]="numberDigit[2]" class="digit2 clipped"></div>
  <div [style.backgroundColor]="numberDigit[3]" class="digit3 clipped"></div>
  <div [style.backgroundColor]="numberDigit[4]" class="digit4 clipped"></div>
  <div [style.backgroundColor]="numberDigit[5]" class="digit5 clipped"></div>
  <div [style.backgroundColor]="numberDigit[6]" class="digit6 clipped"></div>
</div>
