<div class="clock">
    <app-digit [height]=height [oncolor]=oncolor [offcolor]=offcolor [backcolor]=backcolor [rbr]=0 [displaynumber]=hour_0></app-digit>
    <app-digit [height]=height [left]=left1 [oncolor]=oncolor [offcolor]=offcolor  [backcolor]=backcolor [rbr]=1 [displaynumber]=hour_1></app-digit>
  
    <app-digit [height]=height [left]=left2 [oncolor]=oncolor [offcolor]=offcolor [backcolor]=backcolor [rbr]=2 [displaynumber]=minute_0 ></app-digit>
    <app-digit [height]=height [left]=left3 [oncolor]=oncolor [offcolor]=offcolor [backcolor]=backcolor [rbr]=3 [displaynumber]=minute_1></app-digit>
  
    <app-digit [height]=height [left]=left4 [oncolor]=oncolor [offcolor]=offcolor  [backcolor]=backcolor [rbr]=4 [displaynumber]=second_0></app-digit>
    <app-digit [height]=height [left]=left5 [oncolor]=oncolor [offcolor]=offcolor  [backcolor]=backcolor [rbr]=5  [displaynumber]=second_1></app-digit>
  </div>