<div class="wrapp">
  <one-digit [idp]=1 [width]=width [num]=timeC![0] [color]=color [bckColor]=bckColor></one-digit>
  <one-digit [idp]=2 [width]=width [num]=timeC![1] [color]=color [bckColor]=bckColor></one-digit>
  <one-digit-separator [idp]=3 [width]=sepWidth [color]=color [bckColor]=bckColor></one-digit-separator>
  <one-digit [idp]=4 [width]=width [num]=timeC![3] [color]=color [bckColor]=bckColor></one-digit>
  <one-digit [idp]=5 [width]=width [num]=timeC![4] [color]=color [bckColor]=bckColor></one-digit>
  <one-digit-separator [idp]=6 [width]=sepWidth [color]=color [bckColor]=bckColor></one-digit-separator>
  <one-digit [idp]=7 [width]=width [num]=timeC![6] [color]=color [bckColor]=bckColor></one-digit>
  <one-digit [idp]=8 [width]=width [num]=timeC![7] [color]=color [bckColor]=bckColor></one-digit>

</div>
